 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

 :root{
  --black: #131313;
  --gray: #727272;
  --primary-color: #FF900E;
 }


/*common styles  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

.container{
  padding: 0 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.primary-text-style{
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: var(--gray);
  padding: 1.3rem 0px;
}

.primary-title-style{
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 53px;
  color: var(--black);
}

.ham-burger{
  display: none;
}
/* header section */
header{
  background: rgba(255, 144, 14, 0.1);
  height: 100%;
}

.menu-bar{
  padding: 1rem 0px;
  justify-content: space-between;
}
.logo h3{
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--black);
}
nav a{
  font-weight: 500;
  font-size: 1.2rem;
  color: #424242;
}
.menu-gap{
  gap: 3rem;
}

/* hero section */

.hero-content{
  width: 53rem;
  margin: 10px auto;
  padding: 1rem 0px;
}
.hero-content h1{
  font-weight: 700;
  font-size: 4rem;  
  text-align: center;
  color: var(--black);
}



.hero-content p{
  text-align: center;
}

.btn {
	padding: 1rem 2.3rem;
	font-size: 1.25rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: #ffff;
}

.hero-content .btn{
  margin: 20px auto;
  display: block;
}

.hero-img img{
  width: 100%;
  padding-bottom: 20px;
}


/* features section */
.features-section{
  margin: 5rem 2rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.image-grid img{
  width: 100%;
}

.image-grid, .features-content{
	width: 50%;
}

.gray{
  color: var(--gray);
  font-weight: 500;
}

.primary{
  color: var(--primary-color);
}



/*features experience section */
.expericence-section{
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
  margin: 130px 0px;
}

.experience-content h3{
  border-left: 5px solid var(--primary-color);
  padding: 0 1rem;
}

.features, .review{
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  margin: 15px 0px;
  width: 550px;
}

.features,
.review,
h5{
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--black);
}

.experience-content{
  width: 40%;
}
.experience-img{
  width: 60%;
}


.experience-img img{
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

.experience-img .btn{
  width: 250px;
  height: 150px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 8px;
}

.experience-img h2{
  font-weight: 700;
  font-size: 45px;
  padding: 5px 0px;
}



/* facts section */

.facts-content, .testimonial-content{
  width: 550px;
}

.facts-list{
  justify-content: space-evenly;
  margin: 70px 40px;
}

.facts{
  width: 230px;
  height: 230px;
  border: 1px solid #FF900E;
  padding: 45px 20px;
  text-align: center;
  transition-duration: .3s;
}
.facts:hover{
	transform: translateY(-20px);
}

.facts h3{
  font-weight: 600;
  font-size: 45px;;
  color: #424242;
  padding: 10px 0px;
}

.facts p{
  font-weight: 600;
  font-size: 20px;
  color: var(--gray);
  }


  /* sponsore section */
  .sponsore-content{
    width: 530px;
    margin: 20px auto;
    padding-top: 80px;
    text-align: center;
  }

.brands{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.brands img{
    width: 160px;
    filter: grayscale(100%);
    transition-duration: .3s;
}

.brands img:hover{
  filter: grayscale(0%);
}



/* footer */

.footer{
  width: 100%;
  height: 100px;
  background-color: #FFF4E7;
  justify-content: center;
  margin: 120px 0px;
}

.footer p{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}


/* extra testimonial section */

.testimonial-section{
  margin: 120px 0px;
}

.review img{
  width: 160px;
  padding: 20px 0px;
}
.review h5{
  font-size: 30px;
}



/* responsive css */

/* media quries for movile  */
@media only screen and (max-width: 576px) {
  .flex{
    flex-direction: column;
  }
  .hero-content {
    width: auto;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  nav {
    display: none;
  }
  .logo h3 {
    font-size: 2.2rem;
  }
  .ham-burger{
    display: block;
  }
  .menu-bar {
    flex-direction: row;
  }
  .features-section {
    margin: 5rem 0;
  }
  .image-grid, .features-content, .experience-content, .features, .review, .experience-img, .facts-content, .testimonial-content, .sponsore-content {
    width: 100%;
  }

  .experience-img img {
    height: auto;
  }
  .experience-img .btn {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-left: 0;
  }
  .experience-img h2 {
    font-size: 25px;
    padding: 0px;
  }
  .expericence-section {
    gap: 100px;
  }

  .primary-title-style {
    font-size: 2.3rem;
  }

  .brands img {
    width: 125px;
  }
  .brands.flex {
    flex-direction: row;
  }
  .footer p {
    font-size: 1rem;
  }
  .sponsore-content {
    padding-top: 0px;
  }
}